
<div class="container">
  <form class="form-group">
    <input class="input-group" placeholder="search" (keydown)="search($event)"/>
  </form>
</div>

<br/>

<div class="container">    
  <div class="row">
    <div class="col-sm-3" *ngFor="let product of cars" style="margin-bottom: 30px;">
     
      <div class="card" >
        <img class="card-img-top" src="https://images.pexels.com/photos/1616472/pexels-photo-1616472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Product description + age: {{product.age}}</p>
          <a href="#" class="btn btn-primary" style="width: 100%">Explore</a>
        </div>
      </div>

    </div>
  </div>
</div>





<router-outlet></router-outlet>
